
.contain {    
    overflow: auto;
    margin: 1em 0.3em;
    padding: 20px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    background-color: #1e1e1e;
    max-height: 500px;
    border-radius: 1rem;
}
.java-program {
    color: white; /* Change the color of the Java code here */
}

.output{
    background-color: lightgrey;
    font-weight: bold;
    padding: 1.5rem;
}
.output span{
    color: Green;
}
